
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h2 class="title">Donation</h2>
               
            </div>
            <div class="card-content">
                
                    <div class="main-content">
                        <div class="container-fluid">
                            <div class="container-fluid block_area">
                                <div class="row">
                                                    <div class="col-xl-6 col-md-6 col-lg-6 text-center">
                                                        <div class="col-xl-6 col-md-12 col-sm-8 col-lg-8 text-center ">
                                                            <div class="container-fluid block_area_para" style="text-align:center;">
                                                                <h1 style="font-size:400%;text-align:center;color:black;font-weight:bold">Donate Medicine</h1>
                                                                <p style="text-align:center;color:black;">Donate Medicine and help the needy one!
                                                                <br>
                                                                <a href="#"><button type="button" class="btn btn-success" style="font-size:80px;border-radius:18px;" onclick="twilio.RestClient();">Donate</button></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                 
                                            
                                                    <div class="col-xl-6 col-md-6  col-lg-6 text-center">
                                                        <div class="col-xl-6 col-md-12 col-sm-8 col-lg-8 text-center ">
                                                            <div class="container-fluid block_area_para">
                                                                <h1 style="font-size:400%;text-align:center;color:black;font-weight:bold">Donate Service</h1>
                                                                <p style="text-align:center;color:black;">Donate your service and help the needy one!
                                                                <br>
                                                                <a href="login"><button type="button" class="btn btn-success" style="font-size:80px;border-radius:18px;">Donate</button></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                               
                            
                                </div>
                            </div>
                        </div>
                     </div>
    </div></div></div>
</div>










