
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h2 class="title">About</h2>
               
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                    
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>

                <br>
                <br>

                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1>About Us     </h1>
                              <h3> donateNet  is is a online portal that provide free medication facility to the needy once who are unable to afford proper medication. donateNet connect's donor to the needer. donateNet try to provide free Doctors and medicines to the poor section of the society . donateNet give more priority to the services rather than money . this is the way which make donateNet unique as compare to other health non-profit organisations.Doctor can do charity by donating his free hours. Others people can do charity by volunteering and by donating free medicines to the poor people.</h3>  
                       
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                    <h1>Contact Us</h1> 
                                    <div class="col-md-5 col-md-offset-1">
                                        <button class="btn btn-danger btn-block" onclick2="demo.showEmail('bottom','left')">EMAIL</button>
                                     </div>                                          
                                    <div class="col-md-5">
                                        <button class="btn btn-danger btn-block" onclick="demo.showPhone('bottom','right')">Phone</button>
                                    </div>                            
                            </div>  
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
